{% extends 'layout.html' %}

{% block title %} Editor {% endblock %}
    
{% block content %} 
    <h1>Editar Documento</h1>

    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="{{ document.title }}" required>
    </br></br>

    <label for="content">Contenido:</label>
    </br>
    <textarea id="content" name="content" rows="30" cols="100" 
              placeholder="Escribe aquí el contenido..." data-doc-id="{{ document.doc_id }}">{{ document.content }}</textarea>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/socket.js') }}"></script>
{% endblock %}
