<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTC Editor - {% block title %}{% endblock %}</title>
    {% if "user_id" in session %}
        <link rel="stylesheet" href="../static/css/style.css">
    {% endif %}
</head>
<body>

    {% if "user_id" in session %}
        <nav>
            <a href="{{ url_for('user.menu') }}">Home</a>
            <a href="{{ url_for('document.create_document') }}">Create</a>
            <a href="{{ url_for('document.get_documents') }}">Collaborate</a>
            <a href="{{ url_for('auth.LogOut') }}">Logout</a>
            <div class="animation start-home"></div>
        </nav>
    {% endif %}
    <main>
        {% block content %}

        {% endblock %}
    </main>
    
</body>
</html>