{% extends 'layout.html' %}

{% block title %} Menu {% endblock %}

{% block content %} 
  

  
    <h1>Bienvenid@ al Menú</h1>
    <br>
    <br>
    <table border="1" cellspacing="0" cellpadding="5">
        <thead>
          <tr>
            <th colspan="3" style="text-align:center; background-color: #f2f2f2;">My Docs</th>
          </tr>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Creator</th>
          </tr>
        </thead>
        <tbody>
          {% for document in documents %}
            <tr>
              <td>{{ document.doc_id }}</td>
              <td>{{ document.title }}</td>
              <td>{{ document.creator_id }}</td>
              <td><a href="{{ url_for('document.editor', doc_id=document.doc_id) }}">Edit</a></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>

    <br>

    <table border="1" cellspacing="0" cellpadding="5">
        <thead>
          <tr>
            <th colspan="3" style="text-align:center; background-color: #f2f2f2;">Collaborations</th>
          </tr>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Creator</th>
          </tr>
        </thead>
        <tbody>
          {% for document in dc %}
            <tr>
              <td>{{ document.doc_id }}</td>
              <td>{{ document.title }}</td>
              <td>{{ document.creator_id }}</td>
              <td><a href="{{ url_for('document.editor', doc_id=document.doc_id) }}">Edit</a></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  

{% endblock %}