{% extends 'layout.html' %}

{% block title %} Menu {% endblock %}

{% block content %} 
    
    <h1>Bienvenid@ al Menú</h1>
    <a href="{{ url_for('document.create_document') }}"><button>Crear</button></a>
    <a href="{{ url_for('document.get_documents') }}"><button>Colaborar</button></a>
    <h2>Documentos:</h2>
    <ul>
        {% for document in documents %}
            <li>
                <strong>ID:</strong> {{ document.doc_id }} <br>
                <strong>Nombre:</strong> {{ document.title }}
                <br><br>
            </li>
        {% endfor %}
    </ul>
    <h2>Colaboraciones:</h2>
    <ul>
        {% for document in dc %}
            <li>
                <strong>ID:</strong> {{ document.doc_id }} <br>
                <strong>Nombre:</strong> {{ document.title }}
                <br><br>
            </li>
        {% endfor %}
    </ul>
{% endblock %}